body {
  background: url(newrepkah.svg) no-repeat center fixed;
  background-color: #80DEEA;
  background-size: cover;
  text-align: center;
  font: bold 1rem 'Open Sans';
}
input {
  font: 0.8rem 'Open Sans';
  padding: 0.1rem;
  padding-left: 0.45rem;
  border-radius:100px;
  border: none;
  outline: none;
  width: 80%;
}
button {
  background-color: #fdd835;
  font: bold 1rem 'Open Sans';
  border: solid #fdd835;
  outline: none;
  border-radius:100px;
  padding:0.4rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition-duration: 0.3s;
  width: 80%;
}
button:hover {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
}
button:active {
  background-color: #FBC02D;
  border-color: #FBC02D;
}
A:link {text-decoration: none; color: black;}
A:visited {text-decoration: none; color: black; text-align: center;}
A:active {text-decoration: none; color: black; text-align: center;}
A:hover {text-decoration: none; color: black;}
