body {
  background: #80DEEA  url("repkalogo.svg") no-repeat center fixed;
  background-size: cover;
  font: bold 1rem 'Open Sans', Arial;
}
header {
  font-size: 5rem;
  font-weight: 400;
}
input {
  font: bold 0.8rem 'Open Sans', Arial;
  padding: 0.1rem 0.1rem 0.1rem 0.45rem;
  border-radius:100px;
  border: none;
  outline: none;
  width: 80%;
}
#firstb {
  margin-bottom: 0.75rem;
}
.button {
  font: bold 1rem 'Open Sans', Arial;
  background-color: #fdd835;
  border: none;
  outline: none;
  border-radius:100px;
  padding:0.52rem;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  width: 80%;
}
.button:hover{
  background-color: #FFEB3B;
  -webkit-user-select: none;
  -webkit-appearance: none;
  user-select: none;
}
.button:active{
  background-color: #FBC02D;
  -webkit-user-select: none;
  -webkit-appearance: none;
  user-select: none;
}
.text {
  position: relative;
  vertical-align: middle;
}
a{text-decoration: none; color: black;}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(400latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(400cyril.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(600latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
